.main{
    margin: 0;
    padding: 3rem 5rem;
    color: #010e18;
    background-color: white;
}

.main--list{
    line-height: 2;
}

.main--list > li::marker{
    font-size: 1.7rem;
    color: #61DBFB;;
}

.dark-mode{
    color: white;
    background-color: #010e18;
}